$white: #fff;
$light-grey: #f1f1f1;
$mid-grey: #575757;
$dark-grey: #3b3b3b;

$highlight: #881a6a;
$highlight-dark: darken($highlight, 5%);
$highlight-light: lighten($highlight, 50%);

$contrast: #18a4a2;
$contrast-dark: #129a98;
$contrast-light: #8fd7d6;


//Use these for code blocks, and other 'block' content items
$content-bg: #f9f9f9;
$content-border : darken($content-bg, 5%);
