/* Work Section */

.project-list {
    .project {
        padding: 70px 0;
        border-top: 2px solid $light-grey;

        h2 {
            margin: 0 0 10px 0;

            a {
              text-decoration: none;

              &:hover {
                border-bottom: 1px solid lighten($mid-grey, 35);
              }
            }
        }

        .tags {
            margin-bottom: 30px;

            span {
                display: inline-block;
                background-color: $contrast;
                padding: 4px 5px 3px 5px;
                margin-right: 2px;
                font-family: 'Raleway';
                font-size: 12px;
                line-height: 14px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 2px;
            }
        }

        .button {
            margin-top: 25px;
        }
    }

    .project:first-child {
        border-top: 0;
    }
}


/* Skills section */

.skills {

    .section-heading {
        border-top: 1px solid $contrast-light;
        border-bottom: 0;

        h3 {
            color: $contrast;
        }
    }

    .skill {
        padding: 70px 0;

        h2 {
            margin-top: 0;
        }

        .half {
            width: 40%;
            margin: 0 4%;
            float: left;

            @media only screen and (max-width: 600px) {
                width: 100%;
                margin: 0;
                float: none;

                ul {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        @media only screen and (max-width: 600px) {
            .skill-lists {
                padding: 16px 0;
            }
        }

        .cv {
            margin-top: 20px;
        }
    }

    #professional {
        background-color: $contrast;
    }

    #personal {
        background-color: $contrast-dark;
    }
}


/* Writing Section */

.writing {

    .section-heading {
        border-bottom: 1px solid $contrast-light;

        h3 {
            color: $contrast;
        }
    }
}
