/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
  margin: 15px 0;

  ul {
    margin: 0;
  }
}

p, li, q {
    font-size: 15px;
}

blockquote {
    border-left: 2px solid $light-grey;
    padding-left: 20px;
    margin: 40px;

    @media only screen and (max-width: 750px) {
        margin: 40px 0;
    }
}

blockquote q,
blockquote p {
    font-family: "Raleway";
    font-size: 20px;
    font-style: italic;
    display: block;
    margin: 1em 0;
}

blockquote cite {
    font-weight: 600;
    display: block;
    font-size: 13px;
    margin-top: 10px;
}

table {
  font-size: 15px;
  width: 100%;
  text-align: left;
  margin: 40px 0;

  tbody tr:nth-child(odd) {
    background-color: $light-grey;
  }

  td, th {
    padding: 6px 3px;
  }
}

.light,
.light a {
    color: $white;
}

.dark {
    color: $mid-grey;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark a {
    color: $dark-grey;
}

.meta {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

code {
    font-family: 'Fira Mono', monospace, serif;
    font-size: 13px;
}

.note-header,
.note {
    display: block;
    font-size: 14px;
}

.note-header {
    color: #fff;
    background-color: #BC0736;
    font-family: "Raleway";
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 10px;
    border-bottom: 1px solid #ececec;
    border-radius: 3px 3px 0 0;
    margin-top: 20px;
}

.note {
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background-color: #f8e8ec;
    color: #BC0736;
    margin-bottom: 20px;

    p {
        margin: 0;
        font-size: 14px;
    }

    a {
      color: darken(#BC0736, 10%);
    }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    background-color: transparent;
    border-radius: 4px;
    color: $mid-grey;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid lighten( $mid-grey, 40% );
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
}


.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    border-color: lighten( $mid-grey, 30% );
    outline: 0;
}

.button.primary,
button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary {
    color: $white;
    border-color: $highlight;
    background-color: $highlight;
}

.button.primary:hover,
button.primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.primary:focus,
button.primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    background-color: $highlight-dark;
    border-color: $highlight-dark;
    color: $white;
}

.button.light,
button.light,
input[type="submit"].light,
input[type="reset"].light,
input[type="button"].light {
    color: $white;
    border-color: rgba(255, 255, 255, 0.5);
}

.button.light:hover,
button.light:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.light:focus,
button.light:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: $white;
    border-color: rgba(255, 255, 255, 0.8);
}
