---
layout: default
home: 'true'
title: Nicole Harris | Design, Code and Product Management
summary: Nicole Harris is a sofware professional based in Perth, Scotland.
learning: learning how to build small applications with Vue.js
---

<section class="dark" id="projects" name="projects">
    <div class="section-heading">
        <h3>Selected Projects</h3>
    </div>
    <div class="project-list">
        {% assign projects = site.projects | sort:'priority'  %}
        {% for project in projects %}
            <div class="project">
                <div class="container">
                    <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
                    {% if project.skills %}
                        <div class="tags light">
                            {% for skill in project.skills %}
                                <span>{{ skill }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if project.summary %}
                        <p>{{ project.summary }}</p>
                    {% endif %}
                    <a class="button primary" href="{{ project.url }}">View Project</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section class="skills light" id="skills">
    <div class="section-heading">
        <h3>Skills &amp; Interests</h3>
    </div>
    <div id="professional" class="skill" name="skill">
        <div class="container">
            <h2>Professional</h2>
            <p>I am a multidisciplinary software professional with diverse experience working in user research, UX/UI design, sofware development and product management.</p>
            <p>I am interested in how teams (big and small) build successful sofware products, from concept to launch.  I currently work in <a href="https://www.productopsmanifesto.org/home">product operations</a> at <a href="https://ukg.com">UKG</a>.</p>
            <p>My skills include:</p>

            <div class="skill-lists">
                <div class="half">
                    <ul>
                        <li>Front-end development</li>
                        <li>User research</li>
                        <li>UX and UI design</li>
                    </ul>
                </div>
                <div class="half">
                    <ul>
                        <li>Copywriting / documentation</li>
                        <li>Building / managing software teams</li>
                        <li>Operationalising best practices</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <p>I love extending my current knowledge and learning new things. For example, I've recently been {{ page.learning }}.</p>
        </div>
    </div>
    <div id="personal" class="skill">
        <div class="container">
            <h2>Personal</h2>
            <p>I grew up in Australia but am now based in Scotland, where I live with my husband and young son.</p>
            <p>I like cooking and enjoy making my own breads, baking sweet treats and experimenting with different cuisines.</p>
            <p>I enjoy travel, having spent extended periods in Asia (including completing a student exchange in India), and Europe.</p>
            <p>In my spare time I like to go hiking with my family.</p>
        </div>
    </div>
</section>

<section class="writing" id="writing" name="writing">
    <div class="section-heading">
        <h3>Writing</h3>
    </div>
    <div class="dark">
        {% for post in site.posts %}
            <a href="{{ post.url }}">
                <span class="container">
                    <span class="title-block pull-left">
                        <span class="title">{{ post.title }}</span>
                        <span class="meta">
                            {% assign d = post.date | date: "%-d" %}
                            {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
                            {{ post.date | date: "%B" }},
                            {{ post.date | date: "%Y" }}
                        </span>
                    </span>
                    <i class="fa fa-long-arrow-right pull-right"></i>
                    <span class="clearfix"></span>
                </span>
            </a>
        {% endfor %}
    </div>
</section>
