---
layout: default
title: Home
summary: Nicole Harris is a web designer and developer based in Bendigo, Australia.
learning: Behavior Driven Development with <a href="http://pythonhosted.org/behave/">behave</a>
---

<section class="dark" id="projects">
    <div class="section-heading">
        <h3>Selected Projects</h3>
    </div>
    <div class="project-list">
        {% assign projects = site.projects | sort:'priority'  %}
        {% for project in projects %}
            <div class="project">
                <div class="container">
                    <h2>{{ project.title }}</h2>
                    {% if project.skills %}
                        <div class="tags light">
                            {% for skill in project.skills %}
                                <span>{{ skill }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if project.summary %}
                        <p>{{ project.summary }}</p>
                    {% endif %}
                    <a class="button primary" href="{{ project.url }}">View Project</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section class="skills light" id="skills">
    <div class="section-heading">
        <h3>Skills &amp; Interests</h3>
    </div>
    <div id="professional" class="skill">
        <div class="container">
            <h2>Professional</h2>
            <p>I am a designer-developer based in Bendigo, Australia, where I make delightful things for <a href="http://kabucreative.com.au/">Kabu Creative</a>.</p>
            <p>I am motivated by the desire to create great user experiences and beautiful, maintainable code.</p>
            <p>My skills include:</p>

            <div class="skill-lists">
                <div class="half">
                    <ul>
                        <li>HTML</li>
                        <li>SCSS/CSS</li>
                        <li>JS/JQUERY</li>
                        <li>Django</li>
                        <li>Test-driven development</li>
                    </ul>
                </div>
                <div class="half">
                    <ul>
                        <li>User Interface Design</li>
                        <li>Visual Design</li>
                        <li>Project Management</li>
                        <li>Client and stakeholder management</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <p>I love extending my current knowledge and learning new things.  For example, of late I've been exploring {{ page.learning }}.</p>

            <!--<a href="/assets/cv.pdf" class="button light cv">Download my CV</a>-->
        </div>
    </div>
    <div id="personal" class="skill">
        <div class="container">
            <h2>Personal</h2>
            <p>When not staring at a computer monitor, I enjoy cooking and baking, and have a particular penchant for home-made bread, sweet treats and international cuisine.</p>
            <p>I enjoy travel, having spent extended periods in India (on a student exchange), and the UK.  In my spare time I speak French, poorly.</p>
            <p>On occasion, I sew.</p>
        </div>
    </div>
</section>

<section class="writing" id="writing">
    <div class="section-heading">
        <h3>Writing &amp; Talks</h3>
    </div>
    <div class="dark">
        {% for post in site.posts %}
            <a href="{{ post.url }}">
                <span class="container">
                    <span class="title-block pull-left">
                        <span class="title">{{ post.title }}</span>
                        <span class="meta">
                            {% assign d = post.date | date: "%-d" %}
                            {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
                            {{ post.date | date: "%B" }},
                            {{ post.date | date: "%Y" }}
                        </span>
                    </span>
                    <i class="fa fa-long-arrow-right pull-right"></i>
                    <span class="clearfix"></span>
                </span>
            </a>
        {% endfor %}
    </div>
</section>
