<style>
    .banner,
    .contact,
    .button.primary {
        background-color: #{{ page.colors['default'] }};
    }

    .article-heading h1,
    .section-heading h1,
    .section-heading h2,
    .section-heading h3,
    .section-heading h4,
    .section-heading h5,
    .section-heading h6 {
        color: #{{ page.colors['default'] }};
    }

    header,
    .button.primary:hover,
    .button.primary:active,
    .button.primary:focus,
    .contact .icon-link {
        background-color: #{{ page.colors['dark'] }};
    }

    .button.primary,
    .button.primary:hover,
    .button.primary:active,
    .button.primary:focus {
        border-color: #{{ page.colors['dark'] }};
    }

    .article-heading,
    .section-heading {
        border-color: #{{ page.colors['light'] }};
    }

    .promo {
        border-color: #{{ page.colors['light'] }};
        color: #{{ page.colors['default'] }};
    }

    .promo h2,
    .promo a {
      color: #{{ page.colors['default'] }};
    }
</style>
