<section class="contact light" id="contact">
    <div class="section-heading">
        <h3>Contact Me</h3>
    </div>
    <div class="container">
        <div class="content">
            <h2>Get In Touch!</h2>
            <p>I am available for new design and development work via my consulting company, <a href="http://kabucreative.com">Kabu Creative</a>.  To discuss a particular project, please contact me at n.harris [at] kabucreative.com</a>.</p>
            <p>I tweet <a href="https://twitter.com/nlhkabu">@nlhkabu</a> - feel free to say "hi"!</p>

            <div class="social">
                <a href="http://au.linkedin.com/in/nlhkabu" class="icon-link" data-proofer-ignore><i class="fa fa-linkedin"></i></a>
                <a href="http://twitter.com/nlhkabu" class="icon-link"><i class="fa fa-twitter"></i></a>
                <a href="http://github.com/nlhkabu" class="icon-link"><i class="fa fa-github"></i></a>
                <!--<p>I also tweet at <a href="https://twitter.com/pyladiesau">@PyladiesAU</a> and <a href="https://twitter.com/kabucreative">@KabuCreative</a>.</p>-->
            </div>
        </div>
    </div>

    <a href="#nav" class="top" id="top">
        <i class="fa fa-chevron-up"></i>
    </a>
</section>
