<section class="contact light" id="contact">
    <div class="section-heading">
        <h3>Contact Me</h3>
    </div>
    <div class="container">
        <div class="content">
            <h2>Get In Touch!</h2>
            <p>I am available for new design and development work via <a href="http://kabucreative.com.au">Kabu Creative</a>.  To discuss a particular project, please contact me at <a href="mailto:n.harris@kabucreative.com.au">n.harris@kabucreative.com.au</a>.</p>
            <p>I'm constantly on the lookout for interesting open-source projects to contribute to.  If you have a project you need help with (either design or code), or would just like to say hi, drop me a line on the email above, or <a href="https://twitter.com/nlhkabu">@nlhkabu</a>.</p>

            <div class="social">
                <p>
                    <a href="http://au.linkedin.com/pub/nicole-harris/10/927/b07/" class="icon-link"><i class="fa fa-linkedin"></i></a>
                    <a href="http://twitter.com/nlhkabu" class="icon-link"><i class="fa fa-twitter"></i></a>
                    <a href="http://github.com/nlhkabu" class="icon-link"><i class="fa fa-github"></i></a>
                    <a href="http://bitbucket.com/nlh" class="icon-link"><i class="fa fa-bitbucket"></i></a>
                </p>
                <p>I also tweet at <a href="https://twitter.com/pyladiesau">@PyladiesAU</a> and <a href="https://twitter.com/kabucreative">@KabuCreative</a> :)</p>
            </div>
        </div>
    </div>

    <a class="top" id="top">
        <i class="fa fa-chevron-up"></i>
    </a>
</section>
