<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header class="light">
    <a href="#nav" class="toggle-nav">
        menu <i class="fa fa-bars"></i>
    </a>
    <nav class="main-nav" id="nav">
        <a href="/#projects">Selected Projects</a>
        <a href="/#skills">Skills &amp; Interests</a>
        <a href="/#writing">Writing</a>
        <a href="#contact">Contact Me</a>
    </nav>
</header>
