<div class="promo">
  <h2>Want to learn more Django?</h2>
  <p>Introducing my new screencast from O'Reilly Media: <a href="http://shop.oreilly.com/product/0636920045533.do">Introduction to Django - A Practical Guide to Setting Up, Creating, and Deploying Django Projects</a>.</p>
  <p>The course is a step-by-step exploration of what it takes to build, test and launch a full Django application. The first six videos are available for free, so go and <a href="http://shop.oreilly.com/product/0636920045533.do">check it out</a>!<p>
</div>
