/* Custom Colours for individual pages */

.connect header,
.connect .button.primary:hover {
    background-color: #d4082a;
}

.connect .article-heading {
    border-bottom: 1px solid #ed8995;
}

.connect .article-heading h1 {
    color: #e11738;
}

.connect .button.primary {
    border-color: #d4082a;
}

.connect .banner,
.connect .button.primary {
    background-color: #e11738;
}


/* BPCLE */

.bpcle header,
.bpcle .button.primary:hover {
    background-color: #ef6411;
}

.bpcle .article-heading {
    border-bottom: 1px solid #f5b38c;
}

.bpcle .article-heading h1 {
    color: #f16d1d;
}

.bpcle .button.primary {
    border-color: #ef6411;
}

.bpcle .banner,
.bpcle .button.primary {
    background-color: #f16d1d;
}

/* article 1*/

.article1 .article-heading {
    border-bottom: 1px solid #8bd0b2;
}

.article1 .article-heading h1 {
    color: #17a265;
}

.article1 header,
.article1 .button.primary:hover {
    background-color: #17a265;
}

.article1 .button.primary {
    border-color: #17a265;
}

.article1 .banner,
.article1 .button.primary {
    background-color: #25b174;
}
