/* Work Section */

.project-list {
    .project {
        padding: 90px 0;
        border-top: 2px solid $light-grey;

        h2 {
            margin: 0 0 10px 0;
        }

        .tags {
            margin-bottom: 30px;

            span {
                display: inline-block;
                background-color: #c38cb4;
                padding: 4px 5px 3px 5px;
                margin-right: 2px;
                font-family: 'Raleway';
                font-size: 12px;
                line-height: 14px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 2px;
            }
        }

        .button {
            margin-top: 25px;
        }
    }

    .project:first-child {
        border-top: 0;
    }
}


/* Skills section */

.skills {

    .section-heading {
        border-top: 1px solid #ed8995;

        h3 {
            color: #dc132b;
        }
    }

    .skill {
        padding: 90px 0;

        h2 {
            margin-top: 0;
        }

        .half {
            width: 40%;
            margin: 0 4%;
            float: left;
        }

        .cv {
            margin-top: 20px;
        }
    }

    #professional {
        background-color: #dc132b;

    }

    #personal {
        background-color: #dc2b40;
    }
}


/* Writing Section */

.writing {

    .section-heading {
        border-bottom: 1px solid #ed8995;

        h3 {
            color: #dc132b;
        }
    }
}
