/* Site Structure */

body {
    position: relative;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    display: block;

    @media only screen and (max-width: 750px) {
        padding: 0 5%;
    }
}

.browsehappy {
    margin: 0;
    background: #ccc;
    color: #000;
    padding: 1em 0;
    text-align: center;
}

img {
    max-width: 100%;
}

/* Header */

header {
    background-color: $highlight-dark;

    .main-nav {
        text-align: center;

        a {
            text-transform: uppercase;
            text-decoration: none;
            font-family: 'Raleway';
            font-weight: 600;
            font-size: 13px;
            display: inline-block;
            padding: 25px 35px;

            &:hover {
                background-color: rgba(0,0,0,.05);
            }

            @media only screen and (max-width: 750px) {
                display: block;
                padding: 10px;
                border-top: 1px solid rgba(0,0,0,.05);
            }
        }

        @media only screen and (max-width: 750px) {
            display: none;
        }
    }

    .toggle-nav {
        display: none;
        padding: 10px;
        text-align: right;

        @media only screen and (max-width: 750px) {
            display: block;
        }
    }
}

.banner {
    background-color: $highlight;
    text-align: center;
    padding: 140px 0;

    @media only screen and (max-width: 750px) {
        padding: 50px 10px;
    }

    p.sub {
        font-family: 'Raleway';
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 15px;
        letter-spacing: .05em;

    }
}

.section-heading {

    padding: 0 5%;
    border-bottom: 1px solid $highlight-light;

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        margin: 0;
        padding: 32px 0 30px;
        color: $highlight;
    }

}


/* Project Pages */

.project-intro {
    padding: 40px 0 30px 0;

    p {
        font-size: 18px;
        font-style: italic;
        font-family: 'Raleway';
    }
}

.project-img {
    text-align: center;
    border-bottom: 2px solid $light-grey;
    padding: 0 5%;
}

.project-snippet {
    border-bottom: 2px solid $light-grey;
    padding: 40px 0;

    h2 {
        margin-top: 10px;
    }
}

.project-snippet.last {
    border: 0;
}

.project-links {
    padding: 30px 0 90px 0;

    a {
        margin: 0 10px 10px 0;
    }
}

.other-project-heading,
.other-post-heading {
    border-top: 1px solid $highlight-light;
}

.writing,
.other-project-links,
.footer-post-links {

    a {
        display: block;
        border-top: 2px solid $light-grey;
        padding: 40px 0;
        text-decoration: none;
        font-size: 20px;

        .container {
            position: relative;
        }

        .title-block {
            max-width: 560px;
            float: left;

            .title {
                display: block;
                color: $dark-grey;
                line-height: 28px;
                font-family: 'Raleway';
                margin-bottom: 5px;
            }

            .meta {
                color: $dark-grey;
            }

        }

        .fa {
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            color: #ececec;

            @media only screen and (max-width: 750px) {
                display: none;
            }
        }

        &:hover {
            background-color: #fbfbfb;

            .fa {
                color: #dedede;
            }
        }
    }

    a:first-child {
        border-top: 0;
    }
}


/* Article Pages */

article {

    .content {
        position: relative;

        .container.main {
            padding-bottom: 90px;
        }

        h2 {
            margin: 55px 0 20px 0;
        }

        h3 {
            margin: 35px 0 10px 0;
        }

        .tldr {
            padding: 40px 0 20px 0;

            p {
                font-size: 18px;
                font-style: italic;
                font-family: 'Raleway';
            }
        }

        .meta-block {
            margin-top: 40px;

            span {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}

@media only screen and (min-width: 750px) {
    .footer-post-links {
        display: table;
        width: 100%;

        a {
            display: table-cell;
            vertical-align: top;
            width: 50%;
            border: 0;

            .title-block {
                max-width: 80%;
            }
        }

        a.prev {
            .title-block {
                float: right;
                text-align: right;
                margin-right: 5%;
            }

            .fa.left {
                left: 5%;
            }

            .fa.right {
                display: none;
            }
        }

        a.next {
            .title-block {
                margin-left: 5%;
            }

            .fa {
                right: 5%;
            }
        }
    }
}

@media only screen and (min-width: 1500px) {
    .footer-post-links {
        a.prev {
            .title-block {
                margin-right: 0;
            }

        }

        a.next {
            .title-block {
                margin-left: 0;
            }
        }
    }
}


/* Footer / Contact Me */

.contact {
    background-color: #1fb0ae;

    .section-heading {
        border-top: 1px solid #8fd7d6;
        background-color: $white;
        border-bottom: 0;

        h3 {
            color: #1fb0ae;
        }
    }

    h2 {
        margin-top: 0;
    }

    .content {
        padding: 90px 0;
    }

    .social {
        margin-top: 40px;
    }

    .icon-link {
        background-color: #16a9a7;
        margin: 0 2px;
        border-radius: 50%;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;

        i {
            color: $white;
            font-size: 20px;
            line-height: 20px;
            position: relative;
            top: 10px;
        }
    }
}

.top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    padding: 2px;
    border-radius: 2px;
    webkit-border-radius: 2px;
    background-color: $white;
    cursor: pointer;

    i.fa {
        display: none;
        font-size: 20px;
        text-align: center;
        color: lighten($mid-grey, 20%);
    }

    &:hover i.fa {
        color: lighten($mid-grey, 10%);
    }
}
