---
layout: default
---

<section class="project dark">
    <div class="section-heading  article-heading">
        <h1>{{ page.title }}</h1>
    </div>

    {% if page.summary %}
        <div class="container">
            <div class="project-intro">
                <p>{{ page.summary | markdownify }}</p>
            </div>
        </div>
    {% endif %}

    {% if page.feature_image %}
        <div class="project-img">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="{{ page.feature_image['large'] }}" media="(min-width: 701px)">
                <source srcset="{{ page.feature_image['medium'] }}" media="(min-width: 401px)">
                <source srcset="{{ page.feature_image['small'] }}" media="(max-width: 400px)">
                <!--[if IE 9]></video><![endif]-->
                <img srcset="{{ page.feature_image['large'] }}" alt="{{ page.title }}">
            </picture>
        </div>
    {% endif %}

    {{ content }}

    {% for section in page.sections %}
        <div class="project-snippet{% if forloop.last %} last{% endif %}">
            <div class="container">
                {{ section | markdownify }}
            </div>
        </div>
    {% endfor %}

    {% if page.links %}
      <div class="project-links container">
          {% for link in page.links %}
              <a href="{{ link.url }}" class="button{% if forloop.first %} primary{% endif %}">{{ link.text }}</a>
          {% endfor %}
      <div>
    {% endif %}
</section>

{% if site.projects.size > 1 %}
    <section>
        <div class="section-heading other-project-heading">
            <h3>Other Projects</h3>
        </div>
        <div class="other-project-links">
            {% for project in site.projects %}
                {% if page.title != project.title%}
                    <a href="{{ project.url }}">
                        <span class="container">
                            <span class="title-block">
                                <span class="title">{{ project.title }}</span>
                                {% if project.skills %}
                                    <span class="meta">
                                        {% for skill in project.skills %}
                                            {{ skill }}{% if forloop.last == false %},{% endif %}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </span>
                            <i class="fa fa-long-arrow-right pull-right"></i>
                            <span class="clearfix"></span>
                        </span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}
